<nav class="nav-bar-section">
  <div class="nav-bar">
    <a href="/" aria-current="page"><img src="/assets/images/allos-logo.svg" alt="allos" width="183.59" height="77"></a>
    <div class="nav-links-container">
      <div class="nav-links">
        <a href="/about" class="nav-link-block">
          <div class="nav-link-text-block">About</div>
        </a>
        <a href="/learn" class="nav-link-block">
          <div class="nav-link-text-block">Learn</div>
        </a>
        <a href="/download" class="nav-link-block beta-nav-block">
          <div class="nav-link-text-block beta-text-block">Download</div>
        </a>
      </div>
    </div>
  </div>
</nav>