<div data-w-id="2aab2d8d-f7d7-3009-32db-8dde25c3acc8" data-animation-type="lottie" data-src="../assets/lottie/menu-icon.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.3333333333333335" data-duration="0" data-ix2-initial-state="0" class="menu-icon">
    
</div>
<div data-w-id="db0bff9b-2690-8dec-d1d2-7cd6049d7df3" class="nav-bar-section wf-section">
  <div class="nav-bar">
    <a href="../" aria-current="page" class="w-inline-block w--current"><img src="../assets/images/allos-logo.svg" loading="lazy" alt="allos"></a>
    <div class="nav-links-container">
      <div class="nav-links">
       <a href="../about" class="nav-link-block w-inline-block">
          <div class="nav-link-text-block">About</div>
        </a>
        <!-- <a href="resources.html" class="nav-link-block w-inline-block">
          <div class="nav-link-text-block">Resources</div>
        </a> -->
        <a href="../join-beta" class="nav-link-block beta-nav-block w-inline-block">
          <div class="nav-link-text-block beta-text-block">Join Beta</div>
        </a>
      </div>
    </div>
  </div>
</div>