#user-profile-container {
  .italic {
    font-style: italic;
  }

  .hidden {
    visibility: hidden;
  }

  .invisible {
      display: none;
  }

  .spinner-container {
      top: 50px;
      position: absolute;
  }

  .acc-acts-cta-link-container {
    display: none;
    margin-top: 0;
  }

  .verify-email {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;

    p {
      margin-bottom: 0;
    }
  }
}
