<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
</head>
<body>
  <script>
    // Hide various elements if the user is viewing from within the app via a webview
    const qParams = new URLSearchParams(window.location.search)
    if (qParams.has("inApp") || qParams.get("utm_source") === "app") {
      document.body.setAttribute("data-in-app", "true");
      window.sessionStorage.setItem("in-app-web-view", "true")
    } else if (window.sessionStorage.getItem("in-app-web-view")) {
      document.body.setAttribute("data-in-app", "true");
    }
  </script>
  {% include "nav.html" %}
  {{ content | safe }}
  {% include "footer.html" %}
</body>
</html>