<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    {% if customHead %}
      {{ customHead | safe }}
    {% endif %}
  </head>
  <body>
    <nav class="nav-bar-section">
      <div class="nav-bar">
        <a href="/" aria-current="page"
          ><img
            src="/assets/images/allos-logo.svg"
            alt="allos"
            width="183.59"
            height="77"
        /></a>
        <div class="nav-links-container"></div>
      </div>
    </nav>
    {{ content | safe }}
    <footer class="footer">
      <div class="footer-container">
        <div class="gradient-footer-bar"></div>
      </div>
      {% include "sub-footer.html" %}
    </footer>
    {% if customScripts %}
      {{ customScripts | safe }}
    {% endif %}
  </body>
</html>
