<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    {% if customHead %}
      {{ customHead | safe }}
    {% endif %}
  </head>
  <body>
    <script src="/js/modules/detect-in-app.js"></script>
    <header class="auth-header">
      <a href="/">
        <img
          src="/assets/images/allos-logo.svg"
          alt="allos"
          width="183.59"
          height="77"
        />
      </a>
    </header>
    <main class="auth-main">
      {{ content | safe }}
    </main>
    <footer class="footer">
      <div class="footer-container">
        <div class="gradient-footer-bar"></div>
      </div>
      {% include "sub-footer.html" %}
    </footer>
    {% if customScripts %}
      {{ customScripts | safe }}
    {% endif %}
  </body>
</html>
