.acc-acts-container {
  background-image: radial-gradient(
    circle farthest-corner at 90% 90%,
    #fe276c,
    #fb2b73 15%,
    #c278f6
  );
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 30px;
  max-width: 400px;
}
@media screen and (max-width: 570px) {
  .acc-acts-container {
    margin-top: 70px;
  }
}

.acc-acts-container-inner {
  background-color: #212121;
  border-radius: 10px;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
  width: 100%;
}

.acc-acts-hidden {
  display: none !important;
}

.acc-acts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
  }

  input {
    color: black;
    width: 100%;
  }

  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;

    span {
      font-weight: bold;
    }
  }

  button {
    width: 100%;
  }

  button[disabled] {
    color: #b5b5b5;
    background-image: none;
    background-color: gray;
  }
}

.acc-acts-link-btn {
  color: white;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 8px;
  text-decoration: underline;

  &[disabled] {
    background-color: transparent !important;
    color: #b5b5b5;
  }

  &:hover {
    cursor: pointer;

    &[disabled] {
      cursor: default;
    }
  }
}

.acc-acts-input-container {
  width: 100%;
}

.acc-acts-text {
  text-align: left;
  font-size: 17px;
  line-height: 22px;
}

.acc-acts-content.acc-acts-is-mobile {
  .acc-acts-app-link-container {
    display: block;
  }
}

.acc-acts-app-link-container {
  /* By default, this is hidden, but it will be shown if the user-agent looks like a mobile device. */
  display: none;
  background-image: linear-gradient(-45deg, #fe276c, #fb2b73 5%, #c278f6);
  padding-bottom: 1px;
  margin-top: 40px;

  div {
    background-color: #212121;
  }

  a {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;

    background-image: linear-gradient(-45deg, #fe276c, #fb2b73 5%, #c278f6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
