.beta-download-btn {
  font-size: 22px;
  font-weight: bold;
  color: #ff0e93;
  padding: 20px;
  margin: 0 0 50px 0;
  display: inline-block;
  border-radius: 10px;
  background-color: #22011e;
  border: #ff0e93 solid .5px;
  text-decoration: none;
}

.beta-download-btn:hover {
  font-size: 22px;
  font-weight: bold;
  color: #ff249d;
  padding: 20px;
  margin: -1px 0 49px -1px;
  display: inline-block;
  border-radius: 10px;
  background-color: #22011e;
  border: #ff0e93 solid 1.5px;
  text-decoration: none;
  box-sizing: border-box;
}

.beta-download-btn:first-of-type {
  font-size: 22px;
  font-weight: bold;
  color: #ff0e93;
  padding: 20px;
  margin: 0 0 70px 0;
  display: inline-block;
  border-radius: 10px;
  background-color: #22011e;
  border: #ff0e93 solid .5px;
  text-decoration: none;
}

.beta-download-btn:first-of-type:hover {
  font-size: 22px;
  font-weight: bold;
  color: #ff249d;
  padding: 20px;
  margin: -1px 0 69px -1px;
  display: inline-block;
  border-radius: 10px;
  background-color: #22011e;
  border: #ff0e93 solid 1.5px;
  text-decoration: none;
  box-sizing: border-box;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #2c1f2a;
  font-family: embarcadero-mvb-pro, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: embarcadero-mvb-pro, sans-serif;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: embarcadero-mvb-pro, sans-serif;
  font-size: 33px;
  line-height: 40px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 15px;
}

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: embarcadero-mvb-pro, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: rgba(44, 31, 42, 0.87);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-link.join-beta {
  border-radius: 9px;
  background-image: linear-gradient(180deg, rgba(44, 31, 42, 0) 10%, #2c1f2a 0, #2c1f2a 90%, hsla(0, 0%, 100%, 0) 0), linear-gradient(266deg, #f3008a, #d339d3);
  -webkit-transition: all 675ms ease-in-out;
  transition: all 675ms ease-in-out;
}

.nav-link.join-beta:hover {
  background-image: linear-gradient(0deg, rgba(44, 31, 42, 0) 10%, #2c1f2a 0, #2c1f2a 90%, hsla(0, 0%, 100%, 0) 0), linear-gradient(266deg, #f3008a, #d339d3);
}

.nav-container {
  display: none;
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 75px;
  padding-left: 75px;
  -o-object-fit: fill;
  object-fit: fill;
}

.logo {
  margin-top: -20px;
  margin-left: -20px;
  padding: 10px 20px;
}

.container-hero {
  -webkit-perspective: 1039px;
  perspective: 1039px;
}

.section-hero {
  margin-top: 70px;
}

.main-heading-container {
  max-width: 490px;
  margin-top: 99px;
  float: left;
}

.gradient {
  position: absolute;
  left: -29%;
  top: -202%;
  right: auto;
  bottom: auto;
  width: 620px;
  height: 1310px;
  background-image: radial-gradient(circle farthest-side at 0% 50%, #fa03ae, rgba(51, 51, 51, 0) 98%);
}

.breath-curve {
  position: absolute;
  left: -4%;
  top: -8%;
  max-width: 1000px;
}

.breath-curve-fade {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 1010px;
  height: 380px;
  background-image: linear-gradient(272deg, #2c1f2a 28%, hsla(0, 0%, 100%, 0) 82%);
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-p-container {
  width: 510px;
  margin-top: 60px;
}

.section {
  margin-top: 250px;
  -webkit-perspective: 824px;
  perspective: 824px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.floating-square-front {
  position: absolute;
  left: auto;
  top: 42%;
  right: 3%;
  bottom: auto;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #d79bff;
  border-radius: 9px;
  background-image: radial-gradient(circle farthest-corner at 90% 90%, #fe276c, #fb2b73 15%, #c278f6);
}

.floating-square-middle {
  position: absolute;
  left: auto;
  top: 162%;
  right: 17%;
  bottom: auto;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #d79bff;
  border-radius: 6px;
  background-image: radial-gradient(circle farthest-corner at 90% 90%, #fe276c, #fb2b73 15%, #c278f6);
  opacity: 0.31;
}

.floating-square-back {
  position: absolute;
  left: auto;
  top: -45%;
  right: 10%;
  bottom: auto;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #d79bff;
  border-radius: 6px;
  background-image: radial-gradient(circle farthest-corner at 90% 90%, #fe276c, #fb2b73 15%, #c278f6);
  opacity: 0.17;
}

.container-1000 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lottie-section {
  position: relative;
  overflow: visible;
  margin-top: 400px;
}

.list {
  padding-left: 0px;
  list-style-type: none;
}

.list-item {
  margin-bottom: 20px;
  padding-left: 30px;
  background-image: url('/assets/images/bullet-point_1bullet-point.png');
  background-position: 1px 2px;
  background-size: auto;
  background-repeat: no-repeat;
}

.curly-pentagon-lottie {
  margin-right: -36px;
}

.phone {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 400px;
  max-width: 214px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #868686;
  border-radius: 12px;
  background-image: linear-gradient(42deg, #2c1d26, #000);
  box-shadow: 1px 1px 0 4px #000, -1px 1px 0 1px #410e3b, 16px -3px 30px 20px rgba(0, 0, 0, 0.38);
}

.lottie-bars {
  position: relative;
  left: 0px;
  top: -117px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
}

.highlight {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 130px;
  background-color: #ff0091;
  opacity: 0.08;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.signup-section {
  position: relative;
  margin-top: 220px;
  margin-bottom: 140px;
}

.signup-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, right top, left top, from(#a61d82), color-stop(86%, #d91f65));
  background-image: linear-gradient(270deg, #a61d82, #d91f65 86%);
}

.text-field {
  height: 50px;
  min-width: 220px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-block {
  margin-top: 15px;
}

.gradient-right {
  position: absolute;
  left: auto;
  top: 209%;
  right: 0%;
  bottom: auto;
  z-index: -3;
  width: 900px;
  height: 1310px;
  background-image: radial-gradient(circle farthest-side at 130% 50%, #a107a7, hsla(0, 0%, 100%, 0) 49%);
}

.footer {
  margin-top: auto;
  background-color: #212121;
}

.signup-heading {
  text-align: center;
}

.beta-container {
  position: relative;
  overflow: hidden;
  margin-top: 140px;
  margin-bottom: 150px;
  padding: 50px 80px 70px;
  border-radius: 10px;
  background-image: radial-gradient(circle farthest-corner at 0% 0%, #330031, #000);
  min-height: 1035px;
}
.formkit-alert-success {
  padding: 10px 10px;
  margin: 600px 0 0 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

.beta-container.thankyou {
  height: 760px;
}

.hand-phone {
  position: absolute;
  left: auto;
  top: auto;
  right: -9%;
  bottom: -2%;
  max-width: 50%;
}

.radio-btn-field {
  margin-top: 0px;
  margin-bottom: 8px;
}

.radio-btn {
  border-color: #6d6d6d;
  border-radius: 20%;
  background-color: #fff;
}

.radio-btn:active {
  background-color: #f800a5;
}

.radio-btn.w--redirected-checked {
  border-color: #f51ba5;
  background-color: #e2009e;
}

.beta-form {
  max-width: 330px;
}

.beta-text-field {
  height: 50px;
  border-radius: 7px;
}

.beta-submit-btn {
  width: 330px;
  height: 65px;
  margin-top: 30px;
  border-radius: 7px;
  background-color: #3898ec;
  background-image: radial-gradient(circle farthest-corner at 0% 0%, #d91f65, #b01e7d);
  font-size: 18px;
  font-weight: 700;
}

.ul-resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.list-item-resources {
  margin-right: 50px;
  margin-bottom: 16px;
  font-size: 15px;
}

.list-item-resources.youtube {
  padding-left: 24px;
  background-image: url('/assets/images/youtube.svg');
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.list-item-resources.instagram {
  padding-left: 23px;
  background-image: url('/assets/images/instagram.svg');
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.list-item-resources.facebook {
  padding-left: 23px;
  background-image: url('/assets/images/facebook.svg');
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.heading-footer {
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
}

.heading-footer.no-border {
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.resources {
  width: 300px;
  margin-right: 90px;
}

.follow-us {
  width: 170px;
  margin-right: 90px;
}

.newsletter-footer {
  width: 310px;
}

.newsletter-description {
  font-size: 15px;
  line-height: 20px;
}

.gradient-footer-bar {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#b91e77), color-stop(26%, #ff62b4), color-stop(50%, #ff0578), color-stop(75%, #fc00c2), color-stop(90%, #ea4095), to(#eb1bbb));
  background-image: linear-gradient(90deg, #b91e77, #ff62b4 26%, #ff0578 50%, #fc00c2 75%, #ea4095 90%, #eb1bbb);
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #b5b5b5;
}

.resources-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  border-bottom: 2px solid #fff;
}

.footer-link:active {
  display: inline-block;
}

.sub-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  margin-top: -20px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sub-footer-link {
  padding-right: 20px;
  padding-left: 20px;
  color: #b5b5b5;
  text-decoration: none;
}

.sub-footer-link:hover {
  color: #e7e7e7;
}

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-links-container {
  width: 350px;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-link-block {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #cecece;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link-block:hover {
  color: #fff;
}

.nav-link-block.beta-nav-block {
  padding: 1px;
  border-radius: 11px;
  background-image: linear-gradient(106deg, #ec0086, #c200d8);
  -webkit-transition: box-shadow 500ms ease, color 500ms ease;
  transition: box-shadow 500ms ease, color 500ms ease;
}

.nav-link-block.beta-nav-block:hover {
  box-shadow: 0 0 4px 1px #f0d;
}

.nav-link-text-block {
  padding: 15px;
}

.nav-link-text-block.beta-text-block {
  border-radius: 10px;
  background-color: #2c1f2a;
}

.nav-bar-section {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(44, 31, 42, 0.87);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.menu-icon {
  display: none;
  max-width: 50px;
}

.success-message {
  background-color: transparent;
}

.success-form-join-beta {
  width: 300px;
  margin-top: 374px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.success-text-form-join-beta {
  width: 410px;
  font-size: 24px;
  line-height: 50px;
}

.checkbox {
  background-color: #fff;
}

.checkbox.w--redirected-checked {
  width: 13px;
  height: 13px;
  margin-top: 3px;
  border-width: 2px;
  border-color: #f317e4;
  background-color: #e600a1;
  color: #d6117a;
  font-style: italic;
}

.article-container {
  width: 61vw;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.article-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.article-paragraph {
  margin-bottom: 15px;
  color: #e7e7e7;
  line-height: 32px;
}

.breath-curve-img {
  height: 373px;
}

.gradient-article-left {
  position: absolute;
  left: -38%;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: -3;
  width: 650px;
  height: 1130px;
  background-image: radial-gradient(circle farthest-side at 0% 50%, #fa03ae, hsla(0, 0%, 100%, 0) 98%);
  opacity: 0.52;
}

.gradient-right-article {
  position: absolute;
  left: auto;
  top: 21%;
  right: 0%;
  bottom: auto;
  z-index: -3;
  width: 770px;
  height: 900px;
  background-image: radial-gradient(circle farthest-side at 130% 50%, #a107a7, hsla(0, 0%, 100%, 0) 49%);
}

.gradient-right-resources {
  position: absolute;
  left: auto;
  top: 1%;
  right: 0%;
  bottom: auto;
  z-index: -5;
  width: 900px;
  height: 840px;
  background-image: radial-gradient(circle farthest-side at 130% 50%, rgba(161, 7, 167, 0.31), hsla(0, 0%, 100%, 0) 49%);
}

.gradient-left-resources {
  position: absolute;
  left: -38%;
  top: -64px;
  right: auto;
  bottom: auto;
  z-index: -5;
  width: 650px;
  height: 1210px;
  background-image: radial-gradient(circle farthest-side at 0% 50%, #fa03ae, hsla(0, 0%, 100%, 0) 98%);
  opacity: 0.52;
}

.resources-grid {
  padding-bottom: 100px;
  grid-column-gap: 90px;
  grid-row-gap: 41px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.con-read {
  color: #ef13ff;
}

.featured-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 10% 50%;
  object-position: 10% 50%;
}

.line {
  height: 1px;
  background-color: #707070;
}

.article-list-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-areas: "title title"
    "description image";
  -ms-grid-columns: 1.25fr 30px 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.preview-text {
  margin-bottom: 45px;
  font-size: 22px;
}

.article-title-list {
  font-family: embarcadero-mvb-pro, sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.article-list-container {
  width: 830px;
  margin: 120px auto 250px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-areas: "title title"
    "description image";
  -ms-grid-columns: 1.25fr 30px 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.article-list-divider {
  height: 1px;
  margin-top: 60px;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0094), to(#c900d1));
  background-image: linear-gradient(90deg, #ff0094, #c900d1);
}

.article-title-list-link {
  text-decoration: none;
}

.article-title-list-link:hover {
  border-bottom: 2px solid #fff;
}

.compass-svg {
  margin-top: -30px;
}

.resource-article-container {
  width: 900px;
  margin: 10px auto 150px;
}

.resource-article-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-title {
  font-family: embarcadero-mvb-pro, sans-serif;
  font-size: 52px;
  line-height: 64px;
}

.article-content {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  padding: 80px 100px 100px;
  border-radius: 20px;
  background-color: rgba(51, 42, 65, 0.85);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.article-h2 {
  margin-bottom: 10px;
}

.reference-heading {
  margin-top: 70px;
  font-weight: 400;
}

.references {
  margin-bottom: 10px;
}

.cont-reading {
  color: #ff2fa7;
  font-size: 18px;
}

.article-header-image-allos-logo {
  width: 241px;
  margin-top: 20px;
  margin-right: 52px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1280px) {
  .container-hero {
    max-width: 1000px;
  }

  .gradient {
    left: -23%;
  }

  .breath-curve {
    left: 0%;
    max-width: 1120px;
  }

  .breath-curve-fade {
    width: 1000px;
    background-image: linear-gradient(272deg, #2c1f2a 22%, hsla(0, 0%, 100%, 0) 65%);
  }

  .container {
    max-width: 1000px;
  }

  .floating-square-front {
    right: 7%;
  }

  .floating-square-middle {
    right: 25%;
  }

  .floating-square-back {
    right: 16%;
  }

  .container-1000 {
    max-width: 1000px;
  }

  .signup-container {
    max-width: 1000px;
  }

  .beta-container {
    max-width: 1200px;
    padding-right: 250px;
    min-height: 1015px;
  }

  .beta-container.thankyou {
    height: 910px;
  }

  .hand-phone {
    right: -5%;
    bottom: -22px;
  }

  .beta-form {
    max-width: 430px;
  }

  .beta-submit-btn {
    width: 100%;
  }

  .list-item-resources {
    margin-right: 69px;
  }

  .footer-container {
    max-width: 1000px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .resources {
    width: 420px;
    margin-right: 120px;
  }

  .follow-us {
    margin-right: 99px;
  }

  .newsletter-footer {
    width: auto;
  }

  .gradient-footer-bar {
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .resources-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
  }

  .sub-footer {
    max-width: 1000px;
  }

  .nav-bar {
    margin-right: 100px;
    margin-left: 100px;
  }

  .article-container {
    width: 700px;
  }

  .gradient-article-left {
    left: -23%;
  }

  .gradient-left-resources {
    left: -23%;
  }

  .container-1001 {
    max-width: 1250px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 34px;
  }

  .main-heading-container {
    max-width: 460px;
  }

  .gradient {
    left: -60%;
    width: 660px;
  }

  .breath-curve {
    left: -11%;
  }

  .breath-curve-fade {
    width: 100%;
    background-image: linear-gradient(272deg, #2c1f2a 37%, hsla(0, 0%, 100%, 0) 82%);
  }

  .h-p-container {
    width: 420px;
  }

  .floating-square-front {
    right: 0%;
    width: 30px;
    border-right-width: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .floating-square-middle {
    top: 131%;
    right: 15%;
  }

  .floating-square-back {
    top: -27%;
    right: 9%;
  }

  .curly-pentagon-lottie {
    max-width: 310px;
  }

  .signup-container {
    max-width: 760px;
  }

  .beta-container.thankyou {
    height: 950px;
  }

  .hand-phone {
    right: -34%;
    z-index: 0;
    max-width: 76%;
  }

  .form-join-beta {
    position: relative;
    z-index: 2;
  }

  .resources-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sub-footer {
    padding-left: 20px;
  }

  .article-container {
    width: 80vw;
  }

  .gradient-article-left {
    left: -60%;
  }

  .gradient-left-resources {
    left: -60%;
  }

  .preview-text {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 28px;
  }

  .article-list-container {
    width: 650px;
  }

  .resource-article-container {
    width: 740px;
  }

  .article-title {
    font-size: 40px;
    line-height: 50px;
  }

  .article-content {
    padding-right: 70px;
    padding-left: 70px;
  }

  .cont-reading {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .navbar {
    display: none;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
  }

  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-hero {
    margin-top: 0px;
  }

  .main-heading-container {
    margin-top: 40px;
  }

  .gradient {
    left: -87%;
    top: -160%;
  }

  .breath-curve {
    left: -120%;
    top: 80%;
  }

  .breath-curve-fade {
    background-image: linear-gradient(272deg, #2c1f2a 11%, hsla(0, 0%, 100%, 0) 22%);
  }

  .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section {
    margin-top: 50px;
  }

  .container-1000 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .lottie-section {
    margin-top: 116px;
  }

  .signup-section {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .signup-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-block {
    position: relative;
    z-index: 1;
  }

  .signup-heading {
    text-align: center;
  }

  .beta-container.thankyou {
    height: 823px;
  }

  .radio-btn.w--redirected-checked {
    border-width: 1px;
  }

  .footer-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .resources {
    width: auto;
    margin-right: 0px;
  }

  .newsletter-footer {
    width: auto;
  }

  .copyright {
    padding-right: 0px;
  }

  .resources-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .sub-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sub-footer-link {
    display: inline-block;
    padding-top: 17px;
    font-size: 13px;
  }

  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-links-container {
    width: 420px;
  }

  .nav-bar-section {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .success-form-join-beta {
    position: relative;
    z-index: 2;
    margin-top: 195px;
  }

  .gradient-article-left {
    left: -87%;
    top: -160%;
  }

  .gradient-right-article {
    z-index: -2;
    width: 280px;
    background-image: radial-gradient(circle farthest-side at 130% 50%, rgba(161, 7, 167, 0.45), hsla(0, 0%, 100%, 0) 49%);
  }

  .gradient-left-resources {
    left: -87%;
    top: -160%;
  }

  .article-list-grid {
    grid-template-areas: "title title"
      "image image"
      "description description";
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .article-title-list {
    text-align: left;
  }

  .article-list-container {
    width: 430px;
  }

  .resource-article-container {
    width: 440px;
  }

  .article-title {
    font-size: 30px;
    line-height: 42px;
    text-align: left;
  }

  .article-content {
    padding: 45px 30px;
  }

  .article-header-image {
    width: 150px;
  }

  .article-header-image-compass {
    width: 220px;
  }

  .article-header-image-allos-logo {
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 22px;
    line-height: 28px;
  }

  p {
    font-size: 17px;
    line-height: 25px;
  }

  .section-hero {
    margin-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .gradient {
    left: -140%;
  }

  .breath-curve {
    left: -175%;
    top: 69%;
  }

  .h-p-container {
    width: auto;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .floating-square-front {
    width: 20px;
  }

  .floating-square-back {
    top: -2%;
  }

  .lottie-section {
    margin-top: 157px;
    padding-right: 18px;
    padding-left: 18px;
  }

  .curly-pentagon-lottie {
    max-width: none;
    margin-right: 0px;
  }

  .signup-section {
    padding-right: 18px;
    padding-left: 18px;
  }

  .gradient-right {
    height: 1080px;
  }

  .beta-container {
    margin-top: 89px;
    margin-bottom: 30px;
    padding-top: 9px;
    padding-right: 30px;
    padding-left: 30px;
    min-height: 974px;
  }

  .beta-container.thankyou {
    height: 650px;
  }

  .hand-phone {
    right: -41%;
    display: block;
    max-width: 370px;
  }

  .beta-form {
    max-width: none;
  }

  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .nav-bar {
    margin-left: 0px;
  }

  .nav-links-container {
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-block {
    margin-top: 22px;
  }

  .nav-bar-section {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(44, 31, 42, 0.9);
  }

  .menu-icon {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 3;
    display: block;
    margin-top: 25px;
    margin-right: 25px;
    opacity: 0.9;
    cursor: pointer;
  }

  .success-text-form-join-beta {
    width: auto;
  }

  .article-paragraph {
    line-height: 27px;
  }

  .gradient-article-left {
    left: -140%;
  }

  .gradient-left-resources {
    left: -140%;
  }

  .preview-text {
    font-size: 18px;
    line-height: 24px;
  }

  .article-list-container {
    width: 100vw;
    padding-right: 30px;
    padding-left: 30px;
  }

  .article-title-list-link {
    font-size: 26px;
    line-height: 35px;
  }

  .resource-article-container {
    width: 100vw;
    margin-top: 161px;
  }

  .article-content {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#w-node-_0d90fdb7-22c6-92b1-e329-64b429c09532-c02499a9 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3d697c4d-e2f9-9665-504a-d92be0ace504-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c82f57f6-b422-5816-58aa-6178e69d7e1f-c02499a9 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f82951df-1a8e-a151-8060-3bd363dc2a40-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_01ac9987-9c84-8a52-c710-171357213d0d-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_23a98e48-3e1f-0512-7661-2752d6837f46-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_495a9574-d2bf-6df2-a4c0-83435eb228ae-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_495a9574-d2bf-6df2-a4c0-83435eb228af-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26ae5f87-98a5-c7ff-95f5-c9e2a489a97b-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_26ae5f87-98a5-c7ff-95f5-c9e2a489a97c-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6624e564-34f8-b578-edf3-4b525e4db645-c02499a9 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d6d4e2b2-d7fb-5e3c-a063-11d1e9dfa42d-c02499a9 {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d6d4e2b2-d7fb-5e3c-a063-11d1e9dfa42e-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_13e38fd6-f76e-a649-1bd4-ae853a652d7d-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_13e38fd6-f76e-a649-1bd4-ae853a652d7e-c02499a9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_63b718fd-0a23-824e-ce47-593509070a3e-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.article-list-container>#w-node-_63b718fd-0a23-824e-ce47-593509070a3e-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

#w-node-_63b718fd-0a23-824e-ce47-593509070a40-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
}

.article-list-container>#w-node-_63b718fd-0a23-824e-ce47-593509070a40-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_63b718fd-0a23-824e-ce47-593509070a42-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: image;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.article-list-container>#w-node-_63b718fd-0a23-824e-ce47-593509070a42-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  -ms-grid-row-align: end;
  align-self: end;
}

.article-list-container>#w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_839e9448-5bb5-182e-e073-f5746f3203fc-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.article-list-container>#w-node-_839e9448-5bb5-182e-e073-f5746f3203fc-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

#w-node-_839e9448-5bb5-182e-e073-f5746f3203fe-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
}

.article-list-container>#w-node-_839e9448-5bb5-182e-e073-f5746f3203fe-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: image;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.article-list-container>#w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#w-node-_43a0f973-1a8a-03dc-cf88-b9f2d7393f17-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  -ms-grid-row-align: end;
  align-self: end;
}

.article-list-container>#w-node-_43a0f973-1a8a-03dc-cf88-b9f2d7393f17-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_822e25d8-6c34-162b-ec46-b3d44049f79d-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.article-list-container>#w-node-_822e25d8-6c34-162b-ec46-b3d44049f79d-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

#w-node-_822e25d8-6c34-162b-ec46-b3d44049f79f-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
}

.article-list-container>#w-node-_822e25d8-6c34-162b-ec46-b3d44049f79f-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_30cae428-38bd-af7d-328b-d2d2a4c56351-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: image;
  -ms-grid-column-align: center;
  justify-self: center;
}

.article-list-container>#w-node-_30cae428-38bd-af7d-328b-d2d2a4c56351-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#w-node-_8e7786b6-5dd6-5e7a-aa0d-4bb3205a7450-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  -ms-grid-row-align: end;
  align-self: end;
}

.article-list-container>#w-node-_8e7786b6-5dd6-5e7a-aa0d-4bb3205a7450-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_50fc2dce-7fab-4923-949b-e97dc4209979-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.article-list-container>#w-node-_50fc2dce-7fab-4923-949b-e97dc4209979-f3753d76 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

#w-node-_50fc2dce-7fab-4923-949b-e97dc420997b-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
}

.article-list-container>#w-node-_50fc2dce-7fab-4923-949b-e97dc420997b-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-_50fc2dce-7fab-4923-949b-e97dc420997d-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: image;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.article-list-container>#w-node-_50fc2dce-7fab-4923-949b-e97dc420997d-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#w-node-_7abdb7e1-be2d-3ad5-f951-bdee6f8680fe-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  -ms-grid-row-align: end;
  align-self: end;
}

.article-list-container>#w-node-_7abdb7e1-be2d-3ad5-f951-bdee6f8680fe-f3753d76 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

@media screen and (max-width: 991px) {
  #w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: description;
    -ms-grid-row-align: end;
    align-self: end;
  }

  .article-list-container>#w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_63b718fd-0a23-824e-ce47-593509070a42-f3753d76 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: image;
  }

  .article-list-container>#w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  @media screen and (max-width: 767px) {
    #w-node-_63b718fd-0a23-824e-ce47-593509070a3e-f3753d76 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_63b718fd-0a23-824e-ce47-593509070a40-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_63b718fd-0a23-824e-ce47-593509070a42-f3753d76 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_839e9448-5bb5-182e-e073-f5746f3203fc-f3753d76 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_839e9448-5bb5-182e-e073-f5746f3203fe-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_43a0f973-1a8a-03dc-cf88-b9f2d7393f17-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_822e25d8-6c34-162b-ec46-b3d44049f79d-f3753d76 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_822e25d8-6c34-162b-ec46-b3d44049f79f-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_30cae428-38bd-af7d-328b-d2d2a4c56351-f3753d76 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_8e7786b6-5dd6-5e7a-aa0d-4bb3205a7450-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_50fc2dce-7fab-4923-949b-e97dc4209979-f3753d76 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_50fc2dce-7fab-4923-949b-e97dc420997b-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_50fc2dce-7fab-4923-949b-e97dc420997d-f3753d76 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_7abdb7e1-be2d-3ad5-f951-bdee6f8680fe-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_726be2e9-7834-6a93-ac1f-4233225166c1-f3753d76 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    #w-node-_839e9448-5bb5-182e-e073-f5746f320400-f3753d76 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }
  }
}

